@model IEnumerable<miniProjeto.Data.Produto>

@{
    ViewData["Title"] = "Lista de Produtos";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
}

<h1>Lista Produtos</h1>

<p>
    <a asp-action="Create">Cadastrar novo Produto</a>
</p>
<table class="table" id="_tableListaProdutos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estoque)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $("#_tableListaProdutos").dataTable({
            "keys": false,
            "responsive": true,
            "lengthMenu": [
                [5, 7, 15, 30, 50, 100],
                [5, 7, 15, 30, 50, 100]
            ],
            "pageLength": 5,
            "language": {
                "lengthMenu": "Exibir _MENU_ registros por página",
                "zeroRecords": "Não a dados a serem exibidos.",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "paginate": {
                    "previous": "<",
                    "next": ">"
                },
                "search": "Filtrar :"
            },
        })
    </script>
}
